@font-face {
    font-family: 'MinecraftSeven'; 
    src: url('fonts/Seven.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
}

@font-face {
    font-family: 'MinecraftTen'; 
    src: url('fonts/Ten.otf') format('opentype'); 
    font-weight: bold; 
    font-style: normal; 
}

h1 {
    font-family: 'MinecraftTen', 'MinecraftTen';
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'MinecraftTen', 'MinecraftTen';
    margin-top: 0;
    margin-bottom: 10px; 
}

body {
    margin: 0;
    background-color: rgb(53, 54, 55);
    font-family: 'MinecraftSeven', 'MinecraftSeven';
    border: 3px solid rgb(30, 30, 31);
}

header {
    display: flex; 
    border-top: 3px solid rgb(30, 30, 31);
    border-bottom: 3px solid rgb(30, 30, 31);
    padding: 20px;
    background-color: rgb(246, 249, 250);
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 64px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.flex .root {
    flex: 1;
    text-align: left;
    font-size: large;
    min-width: 35%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    gap: 20px; 
    box-sizing: border-box;
    max-width: 100%;
}

.grid-block {
    position: relative;
    border: 3px solid rgb(30, 30, 31);
    overflow: hidden;
    background-color: rgb(49, 50, 51);
    max-width: 100%; /* Добавлено, чтобы блоки не выходили за рамки */
    box-sizing: border-box; /* Убедитесь, что границы учитываются в ширине */
}

.grid-block img {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 3px solid rgb(30, 30, 31);
}

.grid-block::after {
    content: '';
    display: block;
    height: 32px;
    background-color: rgb(72, 73, 74);
    transition: background-color 0.1s ease;
    margin-bottom: 6px;
}

.grid-block:hover::after {
    background-color: rgb(88, 88, 90);
}

.grid-block:hover {
    right: 3px;
    bottom: 3px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top: 3px solid rgb(30, 30, 31);
    text-align: center;
    color: white;
    padding: 10px;
}

.gray-border {
    position: absolute;
    bottom: 0; 
    left: 0;
    right: 0;
    height: 6px; 
    background-color: rgb(177, 178, 181); 
}

.main-panel {
    margin-top: 61px;
    position: relative;
    height: 500px; 
    overflow: hidden;
    border-bottom: 3px solid rgb(30, 30, 31);
}

.image-panel {
    position: relative;
    height: 100%;
    overflow: hidden;
    filter: blur(4px);
}

.main-panel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute; 
    transition: transform 1s ease-in-out; 
    top: 0; 
    transform: translateX(-100%); 
    z-index: -1;
}

.main-panel img.active {
    transform: translateX(0); 
    z-index: 1;
}

.main-panel img.exit {
    transform: translateX(100%); 
}

.main-panel img.first {
    transform: translateX(0); 
    transition: none;
}

.loader {
    position: relative;
    display: none;
    z-index: 10; 
    align-items: center;
    justify-content: center;
}

.loader img {
    height: 50px;
    width: 50px;
    image-rendering: pixelated;
}

.main-panel .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    text-align: center;
    z-index: 8;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.panel {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: rgb(49, 50, 51);
    border: 3px rgb(30, 30, 31) solid;
    gap: 20px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    color: white;
}

.panel-image {
    background-color: rgb(49, 50, 51);
    border: 3px rgb(30, 30, 31) solid;
    box-sizing: border-box;
    max-width: 100%;
}

.splash-img {
    width: 50%;
    height: auto;
    image-rendering: pixelated;
}

.block-image {
    image-rendering: pixelated;
    border: 3px rgb(30, 30, 31) solid;
    box-sizing: border-box;
    width: 600px;
    max-width: 100%;
    height: auto;
    flex: 0 0 auto;
}

.group {
    display: block;
    background-color: rgb(72, 73, 74);
    border-bottom: 3px solid rgb(51, 51, 52);
    border-top: 3px solid rgb(92, 93, 94);
    padding: 10px 20px;
    color: white;
}

.radio-group {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    width: 70%; 
    margin: 0 auto; 
    gap: 3px;
    box-sizing: border-box;
}

.radio-group input[type="radio"] {
    display: none; 
}

.radio-group label {
    position: relative;
    display: block; 
    flex: 1 1 120px; 
    height: 50px; 
    background-color: rgb(49, 50, 51);
    border: 3px rgb(30, 30, 32) solid;
    cursor: pointer;
    overflow: hidden; 
    text-align: center; 
    line-height: 50px; 
    color: white; 
    z-index: 3; 
    min-width: 100px; 
    transition: top 0.05s; 
    padding: 0 10px;
}

.radio-group label::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 5px; 
    border: 3px solid rgb(109, 109, 110); 
    background-color: rgb(72, 73, 74); 
    transition: bottom 0.05s;
    z-index: -1;
}

.radio-group label::after {
    content: '';
    position: absolute;
    bottom: 0; 
    left: 38%;
    right: 38%;
    height: 3px;
    background-color: rgb(255, 255, 255); 
    opacity: 0; 
}

.radio-group input[type="radio"]:checked + label::after {
    opacity: 1; 
}

.radio-group input[type="radio"]:checked + label::before {
    border-color: rgb(90, 91, 92);
    background-color: rgb(52, 53, 54);
    bottom: 0; 
}

.radio-group label:hover::before {
    border-color: rgb(150, 150, 151);
    background-color: rgb(67, 68, 68);
}

.radio-group input[type="radio"]:checked + label {
    top: 6px;
    height: 44px; 
}

button {
    font-family: 'MinecraftSeven', 'MinecraftSeven';
    position: relative;
    display: inline-block; 
    width: 90%; 
    min-height: 50px; 
    background-color: rgb(88, 88, 90);
    border: 3px rgb(30, 30, 32) solid;
    cursor: pointer;
    overflow: hidden; 
    text-align: center; 
    word-wrap: break-word;
    color: black; 
    z-index: 3; 
    max-width: 400px; 
    transition: top 0.05s, background-color 0.05s; 
    font-size: 16px;
    padding: 0 10px;
}

button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 5px;
    border: 3px solid rgb(236, 237, 239); 
    background-color: rgb(198, 198, 198); 
    transition: bottom 0.05s;
    z-index: -1;
}

button:hover::before {
    background-color: rgb(162, 162, 162);
    border-color: rgb(241, 242, 244)
}

button:active {
    top: 6px;
    height: 44px;
}

button:active::before {
    bottom: 0;
}

.long-button {
    width: 44%;
    max-width: 100%;
}

.dropdown {
    margin-bottom: 10px;
    margin-top: 10px;
    overflow: hidden;
    width: 100%;
}

.dropdown button {
    display: flex;
    text-align: left;
    width: 100%;
    max-width: 100%;
    padding: 10px 20px;
    min-height: 64px;
    align-items: center;
    color: white;
    background-color: rgb(30, 30, 31);
    line-height: 1.2;
    cursor: pointer;
}

.dropdown button::before {
    border-top: 3px solid rgb(69, 70, 71);
    border-left: 3px solid rgb(69, 70, 71);
    border-bottom: 3px solid rgb(29, 30, 31);
    border-right: 3px solid rgb(29, 30, 31);
    background-color: rgba(49, 50, 51);
    bottom: 0px;
}

.dropdown button span {
    flex-grow: 1;
    margin-right: 10px;
    overflow-wrap: break-word;
    pointer-events: none;
}

.dropdown button:active {
    top: 0;
    height: 64px;
    margin-bottom: 0;
}

.dropdown-content {
    border: 3px rgb(30, 30, 31) solid;
    border-top: none;
    max-height: 0; 
    transform: translateY(-10px); 
    transition: max-height 0.2s ease, transform 0.2s ease; 
    padding: 0 10px; 
    background-color: rgb(72, 73, 74);
    overflow: hidden;
}

.dropdown.active .dropdown-content {
    max-height: 400px; 
    transform: translateY(0); 
    padding: 10px 10px; 
}

.arrow {
    display: inline-block;
    transition: transform 0.2s ease;
    width: 30px;
    image-rendering: pixelated;
    flex: 0 0 auto;
    margin-left: auto;
}

.dropdown.active .arrow {
    transform: rotate(180deg);
}

.social-container {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
}

.social-item {
    border: 3px rgb(30, 30, 31) solid;
    width: fit-content;
}

.social-button {
    display: flex;
    align-items: center; 
    width: 150px; 
    padding: 10px 20px; 
    position: relative; 
    transition: background-color 0.3s ease; 
    background-color: rgb(70, 71, 72);
    border-bottom: 3px solid rgb(54, 55, 56);
    border-right: 3px solid rgb(54, 55, 56);
    border-top: 3px solid rgb(90, 91, 92);
    border-left: 3px solid rgb(90, 91, 92);
}

.social-button span {
    flex-grow: 1; 
    color: white; 
    font-size: large;
}

a {
    text-decoration: none;
}

.social-button:hover {
    background-color: rgba(255, 255, 255, 0.15); 
}

.social-button::after {
    content: ''; 
    width: 28px; 
    height: 28px; 
    background-size: cover; 
    margin-left: 10px; 
    background-image: url('public/images/link.png');
    image-rendering: pixelated;
}